Nodered.json
[{"id":"4210c39d.b7e17c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"49f8ffb.352598","type":"wiotp-credentials","z":"","name":"Node 1","org":"afterburn co.","serverName":"","devType":"afterburn-node","devId":"1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"635013d9.751bd4","type":"ui_tab","z":"","name":"After Burn","icon":"dashboard","disabled":false,"hidden":false},{"id":"6e7c017a.169f48","type":"ui_group","z":"","name":"Environment","tab":"635013d9.751bd4","disp":true,"width":"12","collapse":false},{"id":"4a79472d.ffec08","type":"ui_base","z":"","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dc36052a.e49dd8","type":"ibmiot","z":"4210c39d.b7e17c","name":"afterburn","keepalive":"60","serverName":"87p5n9.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"a19bfa8e.49a658","type":"ui_group","z":"","name":"Gases","tab":"635013d9.751bd4","disp":true,"width":"12","collapse":false},{"id":"714f650.371f49c","type":"twilio-api","z":"","sid":"AC62e4025119674d531b8a5a939041010d","from":"+12055574314","name":""},{"id":"42dc18b3.81476","type":"ibmiot in","z":"4210c39d.b7e17c","authentication":"apiKey","apiKey":"dc36052a.e49dd8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+simulation","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":320,"wires":[["ae3f069b.97956","9c637490.83e4a8","fa82deb1.7355d8","661c1e1a.4abe8","4046b57e.6760dc","ea283973.6b0678","f2460934.1d4d3"]]},{"id":"2569b745.0ee64","type":"ui_chart","z":"4210c39d.b7e17c","name":"","group":"6e7c017a.169f48","order":2,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":240,"wires":[[]]},{"id":"4a8ade8.8a5122","type":"ui_chart","z":"4210c39d.b7e17c","name":"","group":"a19bfa8e.49a658","order":3,"width":"0","height":"0","label":"CO","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":280,"wires":[[]]},{"id":"ae3f069b.97956","type":"change","z":"4210c39d.b7e17c","name":"","rules":[{"t":"move","p":"payload.readings.CO","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["4a8ade8.8a5122"]]},{"id":"9c637490.83e4a8","type":"change","z":"4210c39d.b7e17c","name":"","rules":[{"t":"move","p":"payload.readings.temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":240,"wires":[["2569b745.0ee64"]]},{"id":"b8aaf1b2.8d8cc","type":"ui_chart","z":"4210c39d.b7e17c","name":"","group":"a19bfa8e.49a658","order":2,"width":"0","height":"0","label":"O2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":320,"wires":[[]]},{"id":"96017e4c.e43c2","type":"ui_chart","z":"4210c39d.b7e17c","name":"","group":"6e7c017a.169f48","order":3,"width":"0","height":"0","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":360,"wires":[[]]},{"id":"661c1e1a.4abe8","type":"change","z":"4210c39d.b7e17c","name":"","rules":[{"t":"move","p":"payload.readings.humidity","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":360,"wires":[["96017e4c.e43c2"]]},{"id":"fa82deb1.7355d8","type":"change","z":"4210c39d.b7e17c","name":"","rules":[{"t":"move","p":"payload.readings.O2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[["b8aaf1b2.8d8cc"]]},{"id":"caa70b2f.e20fc","type":"worldmap","z":"4210c39d.b7e17c","name":"","lat":"41","lon":"51","zoom":"1","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldmap","x":830,"y":400,"wires":[]},{"id":"4046b57e.6760dc","type":"change","z":"4210c39d.b7e17c","name":"","rules":[{"t":"move","p":"payload.device-id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"move","p":"payload.loc.lat","pt":"msg","to":"payload.lat","tot":"msg"},{"t":"move","p":"payload.loc.lon","pt":"msg","to":"payload.lon","tot":"msg"},{"t":"delete","p":"payload.timestamp","pt":"msg"},{"t":"delete","p":"payload.readings","pt":"msg"},{"t":"delete","p":"payload.loc","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[["5366c1f7.e61ec"]]},{"id":"5366c1f7.e61ec","type":"function","z":"4210c39d.b7e17c","name":"","func":"msg.payload.name = msg.payload.name.toString()\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["caa70b2f.e20fc"]]},{"id":"ea283973.6b0678","type":"function","z":"4210c39d.b7e17c","name":"","func":"var readings = msg.payload.readings;\n\nvar likelyFire = readings.CO >= 1000 && readings.O2 <= 8 && readings.temperature >= 80 && readings.humidity >= 40;\nmsg.payload.likelyFire = likelyFire;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["e1d0e28d.7c33d8"]]},{"id":"2c91271c.04b1f8","type":"twilio out","z":"4210c39d.b7e17c","service":"_ext_","twilio":"714f650.371f49c","from":"","number":"+41787675151","name":"","x":1040,"y":460,"wires":[]},{"id":"e1d0e28d.7c33d8","type":"rbe","z":"4210c39d.b7e17c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.likelyFire","x":570,"y":460,"wires":[["cc8fbaa5.33301"]]},{"id":"cc8fbaa5.33301","type":"switch","z":"4210c39d.b7e17c","name":"","property":"payload.likelyFire","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":460,"wires":[["ac6e61c0.48324"]]},{"id":"ac6e61c0.48324","type":"template","z":"4210c39d.b7e17c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"!!! Attention !!!\nRespark of fire at node {{payload.device-id}}.\nlat: {{payload.loc.lat}}, lon: {{payload.loc.lon}}","output":"str","x":860,"y":460,"wires":[["2c91271c.04b1f8"]]},{"id":"f2460934.1d4d3","type":"function","z":"4210c39d.b7e17c","name":"","func":"msg.payload._id = msg.deviceId+\":\"+msg.payload.timestamp\nreturn msg.payload;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["2ac11b2f.874dec"]]},{"id":"2ac11b2f.874dec","type":"cloudant out","z":"4210c39d.b7e17c","name":"","cloudant":"","database":"log","service":"afterburn-v1-cloudantNoSQLDB","payonly":false,"operation":"insert","x":590,"y":500,"wires":[]}]
